:root{
    --jet: #151517;
    --apple-green: #72b01dff;
    --columbia-blue: #bad7f2ff;
    --bittersweet: #e87461ff;
    --citron: #bdc667ff;
}

html, body{
    font-size:2vw;

    padding:0;
    margin:0;

    background-color: var(--jet);
}

#title{
    color: var(--apple-green);

    font-family: monospace;
    font-weight: 100;

    text-align: center;
}

#navbar{
    position:sticky;

    width:100vw;
    height:5vh;

    display:flex;
    gap:.5vw;

    flex-direction: row;
    background-color: var(--bittersweet);
}

.navButton{
    border: none;
    z-index:5;

    cursor: pointer;

    padding: 1vw 2vw;

    max-height:5vh;

    background-color: var(--bittersweet);
    color: var(--columbia-blue);

    font-size:1vw;
    font-weight: 100;
}

.right, .left{
    width:auto;
    height:auto;
    padding:none;
}

.left{
    margin-right:auto;
}

.right{
    margin-left:auto;
}

.hidden{
    display:none;
}